# jupyter checkpoints
.ipynb_*

# AFS temp files
.__afs*

# python complied/optimized files
__pycache__
*.py[cod]
*$py.class
*.pyc

# vim swap files
*.swp

# pictures
*.png
*.jpg

# old stock files
data/stocks/old
*.csv

# Logfiles
*.log
