# jupyter checkpoints
.ipynb_*

# AFS temp files
.__afs*

# python complied/optimized files
__pycache__
*.py[cod]
*$py.class
*.pyc

# vim swap files
*.swp

# pictures
*.png
*.jpg

# data files (too big)
data/*
!data/stocks/
!data/stocks/low_beta
!data/stocks/low_beta/*
!data/stocks/high_beta
!data/stocks/high_beta/*

# Logfiles
logs
*.log

